{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Pingher | QA</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #6 for statistics, charts, recent events and reports" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN LAYOUT FIRST STYLES -->
        <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css" />
        <!-- END LAYOUT FIRST STYLES -->
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{% static 'pingherapp/assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'pingherapp/assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'pingherapp/assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'pingherapp/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'pingherapp/assets/global/plugins/morris/morris.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'pingherapp/assets/global/css/components-md.min.css' %}" rel="stylesheet" type="text/css" />
        
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{% static 'pingherapp/assets/layouts/layout6/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'pingherapp/assets/layouts/layout6/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="{% static 'pingherapp/assets/favicon.ico' %}" /> </head>
    <!-- END HEAD -->

    <body class="page-md">
        <!-- BEGIN CONTAINER -->
        <div class="container-fluid">
            <div class="page-content page-content-popup">
                <div class="page-content-fixed-header">
                    <!-- BEGIN BREADCRUMBS -->
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="#">Pingher</a>
                        </li>
                        <li>Ask Questions on the Indian Demonetization Initiative 2016</li>
                    </ul>
                    <!-- END BREADCRUMBS -->
                    <div class="content-header-menu">
                        
                        <!-- BEGIN MENU TOGGLER -->
                        <button type="button" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="toggle-icon">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span>
                        </button>
                        <!-- END MENU TOGGLER -->
                    </div>
                </div>
                
                <div class="page-fixed-main-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    
                    
                    <div class="row">
                       
                        <div class="col-lg-12 col-xs-12 col-sm-12">
                            <!-- BEGIN PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bubble font-hide hide"></i>
                                        <span class="caption-subject font-hide bold uppercase">Chats</span>
                                    </div>
                                </div>
                                <div class="portlet-body" id="chats">
                                    <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible1="1">
                                        <ul class="chats">
                                            <li class="out">
                                                <img class="avatar" alt="" src="{% static 'pingherapp/assets/layouts/layout/img/avatar2.png' %}" />
                                                <div class="message">
                                                    <span class="arrow"> </span>
                                                    <a href="javascript:;" class="name"> Her </a>
                                                    <span class="datetime"> at 20:11 </span>
                                                    <span class="body">Hi, How can I help you?</span>
                                                </div>
                                            </li>
                                            <li class="in">
                                                <img class="avatar" alt="" src="{% static 'pingherapp/assets/layouts/layout/img/avatar1.jpg' %}" />
                                                <div class="message">
                                                    <span class="arrow"> </span>
                                                    <a href="javascript:;" class="name"> You </a>
                                                    <span class="datetime"> at 20:30 </span>
                                                    <span class="body"> Are people in India happy about demonitization? </span>
                                                </div>
                                            </li>
                                            <li class="out">
                                                <img class="avatar" alt="" src="{% static 'pingherapp/assets/layouts/layout/img/avatar2.png' %}" />
                                                <div class="message">
                                                    <span class="arrow"> </span>
                                                    <a href="javascript:;" class="name"> Her </a>
                                                    <span class="datetime"> at 20:11 </span>
                                                    <span class="body"> Yes, majority of people in India seem to be happy with Demonitization.</span>
                                                </div>
                                            </li>
                                             <li class="in">
                                                <img class="avatar" alt="" src="{% static 'pingherapp/assets/layouts/layout/img/avatar1.jpg' %}" />
                                                <div class="message">
                                                    <span class="arrow"> </span>
                                                    <a href="javascript:;" class="name"> You </a>
                                                    <span class="datetime"> at 20:30 </span>
                                                    <span class="body"> Tell me a joke? </span>
                                                </div>
                                            </li>
                                            <li class="out">
                                                <img class="avatar" alt="" src="{% static 'pingherapp/assets/layouts/layout/img/avatar2.png' %}" />
                                                <div class="message">
                                                    <span class="arrow"> </span>
                                                    <a href="javascript:;" class="name"> Her </a>
                                                    <span class="datetime"> at 20:11 </span>
                                                    <span class="body"> Short term pain for long term gain, Demonetization &amp; Pregnancy </span>
                                                </div>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <div class="chat-form">
                                        <div class="input-cont">
                                            <input type="text" class="form-control" name="q" id="transcript" placeholder="Type and press ENTER [or] Tap and Speak"/>
                                        </div>
                                        <div class="btn-cont">
                                            <span class="arrow"> </span>
                                            <a href="#" class="btn green icn-only chatbutton" onclick="javascript:event.preventDefault(); PingherUtil.startDictation()">
                                                <i class="fa fa-microphone icon-white"></i>
                                            </a>
                                        </div>
                                    </div>
<!--                                     <form id="labnol" method="get" action="https://www.google.com/search"> -->
<!-- 									  <div class="speech"> -->
<!-- 									    <input type="text" name="q" id="transcript" placeholder="Speak" /> -->
<!-- 									    <img onclick="PingherUtil.startDictation()" src="//i.imgur.com/cHidSVu.gif" /> -->
<!-- 									  </div> -->
<!-- 									</form> -->
                                </div>
                            </div>
                            <!-- END PORTLET-->
                        </div>
                    </div>
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- BEGIN FOOTER -->
                <p class="copyright-v2"> 2016 &copy; Pingher
                    <a href="https://github.com/Mohit-Ak/pingher" title="Pingher on Github" target="_blank">Check out on Github</a>
                </p>
                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                <button type="button" class="quick-sidebar-toggler" data-toggle="collapse">
                    <span class="sr-only">Toggle Quick Sidebar</span>
                    <i class="icon-logout"></i>
                    <div class="quick-sidebar-notification">
                        <span class="badge badge-danger">15</span>
                    </div>
                </button>
                <!-- END QUICK SIDEBAR TOGGLER -->
                
                <!-- END FOOTER -->
            </div>
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler">
            <i class="icon-login"></i>
        </a>
        <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
            <div class="page-quick-sidebar">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab"> Lets get started.
                            <span class="badge badge-success">5</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-target="#quick_sidebar_tab_2" data-toggle="tab"> Hear her out.
                            <span class="badge badge-success">5</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab"> She can show.
                            <span class="badge badge-success">5</span>
                        </a>
                    </li>
                    
                </ul>
                <div class="tab-content">
                    
                    <div class="tab-pane page-quick-sidebar-alerts active" id="quick_sidebar_tab_1">
                        <div class="page-quick-sidebar-alerts-list">
                            <h3 class="list-heading">Sample Questions 1</h3>
                            <ul class="feeds list-items">
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> What is your name ? </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> Who are your creators ? </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> What can you do ? </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> Tell me a joke </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> What is your opinion on Demonetization ? </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                    <div class="tab-pane page-quick-sidebar-alerts" id="quick_sidebar_tab_2">
                        <div class="page-quick-sidebar-alerts-list">
                            <h3 class="list-heading">Sample Questions 2</h3>
                            <ul class="feeds list-items">
								<li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> Who implemented Demonetization ? </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> Show me positive tweets on Demonetizaion. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> Show me negative tweets from news_in on Kejriwal. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> Show me the most retweeted tweet on Demonetizaion. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> Show me the most favourited tweet from dna on Modi. </div>
                                            </div>
                                        </div>
                                    </div>
                                   <!--  <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane page-quick-sidebar-alerts" id="quick_sidebar_tab_3">
                        <div class="page-quick-sidebar-alerts-list">
                            <h3 class="list-heading">Sample Questions 3</h3>
                            <ul class="feeds list-items">
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> What percentage of people are happy about Demonetization? </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> Show me an image of Modi. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> Show me an image of an ATM. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> Show me an image of Nitish Kumar. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> Show me an image of paytm. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END QUICK SIDEBAR -->
        
        <!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script> 
<script src="../assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{% static 'pingherapp/assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'pingherapp/assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'pingherapp/assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'pingherapp/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'pingherapp/assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'pingherapp/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>        
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        
        <script src="{% static 'pingherapp/assets/global/plugins/morris/morris.min.js' %}" type="text/javascript"></script>        
        <script src="{% static 'pingherapp/assets/global/plugins/morris/raphael-min.js' %}" type="text/javascript"></script>        
        
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'pingherapp/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->

        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{% static 'pingherapp/assets/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'pingherapp/assets/custom/pingher.js' %}" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
    </body>
	
</html>